.user-icon {
    cursor: pointer; position: relative; float:left; color: #707070; font-size: 18px   
}

.user-name {
    cursor: pointer; position:relative; float: left; line-height: 25px; font-weight: bolder; font-size: 18px
}