<mat-toolbar color="primary">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>
                <button mat-icon-button type="button" (click)="onPerson()" matTooltip="Página Inicial">
                    <mat-icon>home</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button type="button" (click)="onPersonSearch()" matTooltip="Buscar Pessoa">
                    <mat-icon>search</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button type="button" (click)="onUser()" matTooltip="Perfil do Usuário">
                    <mat-icon>person</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</mat-toolbar>
