<mat-card style="width: 250px; margin: 0 auto; position: relative; top: 30px;">

    <div class="example-container">

        <div style="text-align:center; margin-bottom: 35px;">
            <mat-icon style="color: #3F51B5; font-size: 60px; margin-left: -38px">https</mat-icon>
        </div>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuário" [(ngModel)]="username">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" class="example-full-width" (click)="login()">Entrar</button>

        <div style="margin-top: 15px; color: #CD0000;" *ngIf="error">
            <mat-icon>error</mat-icon>
            <div style="margin-top: -26px; padding-left: 30px;">Usuário ou Senha incorreto!</div>
        </div>
    </div>        

  </mat-card>